/* GLOBAL */

body {
    display: grid;
    /* grid-template-columns:  */
    grid-template-areas: "I I I I" "II II II II" "II II II II" "III III III III";
    grid-gap: 20px;
    background: linear-gradient(red, silver, black, red, silver);
}

/* HEADING */

.header {
    grid-area: I;
    width: 100vw;
    text-align: center;
    font-family: cursive;
}

/* NAVBAR */

span {
    position: fixed;
    font-size: 40px;
}

.navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #777;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* BEGIN CONTENT */

.content {
    grid-area: II;
}

/* OPENER */

.open-parallax {
    background: url(/IMAGES/headphones-laptop.jpg) fixed center;
    background-size: 100%;
}

.openText {
    padding: 200px;
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
}

/* PROFILE */

.profile {
    background: url(/IMAGES/headshot-of-x2.jpg) fixed center no-repeat;
    background-size: 65%;
}

.profileStory {
    padding: 350px;
    text-align: center;
    color: white;
    font-size: 25px;
}

/* EXPERIENCE */

.experience {
    background: url(/IMAGES/laptop-backdrop.jpeg) fixed center;
    background-size: 100%;
}

.exp {
    padding: 300px;
    font-size: 25px;
    text-align: top;
    margin-left: 200px;
    color: white;
}

.projects {
    background: url(/IMAGES/headphones-worktable.jpg) fixed center no-repeat;
    background-size: 100%;
}

.projectTxt {
    padding: 400px;
    color: red;
    font-size: 30px;
}