/* GLOBAL */

body {
    display: grid;
    /* grid-template-columns:  */
    grid-template-areas: "I I I I" "II II II II" "II II II II" "III III III III";
    grid-gap: 20px;
    background: linear-gradient(red, silver, black, red, silver);
}

/* HEADING */

.header {
    grid-area: I;
    width: 100vw;
    text-align: center;
    font-family: cursive;
}

/* NAVBAR */

span {
    position: fixed;
    font-size: 40px;
    color: silver;
}

span:hover {
    transition: .75s;
    font-size: 50px;
    color: gold;
}

.navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #777;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navigation>a {
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.navigation>a:hover {
    transition: 1.25s;
    color: gold;
}

/* BEGIN CONTENT */

.content {
    grid-area: II;
}

/* OPENER */

.open-parallax {
    background: url(/IMAGES/headphones-laptop.jpg) fixed center;
    background-size: 100%;
}

.openText {
    padding: 200px;
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
}

/* PROFILE */

.profile {
    background: url(/IMAGES/headshot-of-x2.jpg) fixed center no-repeat;
    background-size: 65vw;
}

.profileStory {
    padding: 350px;
    text-align: center;
    color: white;
    font-size: 25px;
}

/* EXPERIENCE */

.experience {
    background: url(/IMAGES/laptop-backdrop.jpeg) fixed center;
    background-size: 100vw;
}

.exp {
    display: block;
    padding: 400px;
    /* margin: 0px 150px 0px 150px; */
    text-align: center;
    color: white;
    background-color: rgba(20, 20, 20, 0.4);
    border-radius: 50%;
}

.projects {
    background: url(/IMAGES/headphones-worktable.jpg) fixed center no-repeat;
    background-size: 100vw;
}

.projectTxt {
    padding: 200px;
    margin: 0px 300px 0px 200px;
    color: red;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-flow: column;
}

.projectLink {
    background-color: rgba(200, 200, 200, 0.6);
    border-radius: 50%;
}

.footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.footer:hover {
    transition: 1.25s;
    color: rgb(255, 47, 47);
    font: bolder;
}